/*header(persistent) style*/
#nav1 
  { color: blue;
    text-align: right;
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
  }

.Header 
  {
    position:sticky; 
    top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0fr);
    background-color: aqua;
    font-size: 40px;
    border: solid; 
    text-align: left;
    z-index: 1;
    }

@media only screen and (min-width: 1680px)
    {
      #html {width:100%}
    }
  
footer img
    {
      width: 3rem; 
      position: fixed ;
      bottom: 1%;
      right: 0%;
    }

  /* universal style */
 .submit :hover
  {
    border-style: dashed;
    color: red;
  }
 
  #nav1 :hover
    {
      border-style: dashed;
      color: red;
    }
  
  
  /* home page stlye*/
  .html1 {margin: 0%}

#body {background-color: red;}

.H 
  { 
    background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    grid-template-rows: repeat(3, 0fr); 
    font-family: cursive; font-size: 1.5rem;
    top: 0%;
  }

#p 
  {
    grid-column: 1;
    grid-row: 1;
  }

#p1 
  {
    grid-column:1;
  }

#p2 
  {
    grid-column: 2;
    grid-row: 3;
  }

#img {
  width: 250px; 
  float: right;}

/* find out how to put the words in a column*/
/*findout how to set img side by side the column of words */

/*about-page style*/

.body2
{background-color: cornflowerblue;}

h1 {text-align: center;}

#ul1 {
  font-size: 30px; 
  font-family: cursive; 
  text-align: center;
}

.li {
  font-size: 25px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#P {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: solid; 
  background-color: blueviolet; 
  color: lime;
}

.div2 {
  grid-row: 2;
}

/*portfolio page style */

.body3 {background-color: blueviolet;

  }

#html-port 
{
  background-color: powderblue;
}

#h-port 
{
  text-align: center;
  font-size: 2rem; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p 
  {
    text-align: center; 
    font-size: 20px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  /*contact me page style*/
.contact-me
  {
    background-color: violet; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
.div-contact
  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

input 
  {background-color: gold;
  
  }

textarea 
  {background-color: gold;

  }

form {
  position: absolute;
  top: 74%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  }

button 
  {
   background-color: gold;
  }

  #pic-contact img{
    width: 15rem;
    position: absolute;
    right: 60%;
  }